$light-cyan: #2ee3ff;
$whitish-cyan: hsl(189, 48%, 77%);
$medium-cyan: #10a1b7;
$dark-cyan: #00121b;
$dark-blue: #0A293B;
$primary-red: tomato;
$primary-green: rgb(55, 193, 55);
$cream: rgb(255, 249, 226);
$light-cream: rgb(213, 210, 196);